<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.jason.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".LoginActivity" android:label="TreeCo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen" android:label="TreeCo"/>
        <activity android:name=".ItemDetails" android:label="ItemDetails"/>
        <activity android:name=".MainActivity" android:label="Main activity"/>
        <activity android:name=".ProductScreen" android:label="Products"/>
        <activity android:name=".RegisterActivity" android:label="Register"/>
        <activity android:name=".UserAreaActivity" android:label="UserArea"/>
        <activity android:name=".TreesSold" android:label="Trees"/>
        <activity android:name=".ProductsSold" android:label="Products"/>

    </application>

</manifest>